<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings file="appSettings.config"> 
    <!-- BEGIN WARNING -->
    <!--    
    DO NOT change the values below and check it into source control.  
    Use the appSettings.config approach for your local environment. 
    If you add an appSettings.config to this project and change "Copy to Output Directory" value to "Copy Always",
    then the values will be picked up from that file.  Otherwise the values below will be used.      
    -->    
    <add key="OnlineUsername" value="your_user@yourtenant.onmicrosoft.com" />
    <add key="OnlinePassword" value="your_password" />
    <add key="OnlineCrmUrl" value="https://your-instance.crm.dynamics.com" />
    <add key="AzureKey" value="" />
    <!-- END WARNING -->
  </appSettings>
</configuration>