<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings file="appSettings.config"> 
   <!-- 
   appSettings are read from the appSettings.config file, which is intentionally *not* in source control by way of .gitignore.
   There is a appSettings.config.template file that gets pulled down.  Close Visual Studio.  Find the file on disk.
   Copy/paste & rename it to appSettings.config.  This will allow you to have local settings.
   Those local settings will *not* be checked in to source control thanks to .gitignore.
   -->
  </appSettings>
</configuration>